.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: maroon;
}

p  {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: maroon;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: red;
}

.index {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}